
<h3>Earring</h3>
<a target="_self" href="https://images.unsplash.com/photo-1615197419794-52a6f5da9df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWFycmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
  <div class="container">
    <div class="j">

      <img class="overlay" src="https://images.unsplash.com/photo-1615197419794-52a6f5da9df0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZWFycmluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
     
      <a href="#" class="iconb">
        <i class='fa fa-cart-plus'></i>
      </a>
      <a href="#" class="iconh">

        <i class="fa fa-gratipay" aria-hidden="true"></i>
      </a>

    </div>
    <div class="price">
      <h6>Original Price Rs:<del>{{oldPrice}}</del><br>Discounted Price Rs:{{newPrice}}</h6>
    </div>
  </div>


    </a>



