h6
{
color:brown

}
del
{
  color:black
}
/* .ringicon
{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;

}
.ringicon .iconb
{
  left: 10px;
}
.ringicon .iconh
{
  top:30px;
  left:0px;
  padding-right: 10px;
} */
.j img{
  box-shadow:  5px 0.1px rgb(31, 70, 46);
}
